.logo {
    width: 30px;
}

.title {
    font-size: 18pt;
    margin: 10px 0;
}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818078;
    list-style-type: none;
    margin: 3vh 0;
    vertical-align: center;
}

.navbar li:hover {
    color: #005A9B;
}

.active {
    color: #005A9B;
}

.card {
    margin: 3vh;
    padding: 1vh;
}

.button {
    margin: 0 .5vh;
}

.doughnut {
    max-height: 250px;
}

.buttongroup {
    margin-bottom: 5px;
    margin-top: 5px;
}
